<!DOCTYPE html>
<html>
	<head>
	<script class="jsbin" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script class="backbone" src="../javascripts/underscore-min.js"></script>
	<script class="backbone" src="../javascripts/backbone-min.js"></script>
	<script class="backbone" src="../javascripts/app.js"></script>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	<LINK href="../css/page.css" rel="stylesheet" type="text/css">
	<title>vishwa</title>
	<!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	<body>
		<div class="top">
    	<div class="container-fluid">
      	<div class='row-fluid'>
        	<div class='span12'> <h1><span class="vishwa">{Vishwa :</span><span class="srikaanth">: Srikaanth}</span></h1>
        	</div>
        </div>
      </div>
    </div>
	    <div class="mainblock">
	    <div class ="container-fluid">
	    	<div class="row-fluid">
	    		<div class="span6" style="text-align:right;">
	    			<span class="aboutme"> know me vish </span>
	    		</div>
	    		<div class="span6">
	    			<span class="things">Things I do </span>
	    		</div>
	    	</div>
	    	<div class ="boxm">
	    		<div class="abtme">
	    			<div class="info">
	    				<li>A full stack engineer,loves to solve challenging problems on the web</li>
	    				<li>Growing Web Evangelist </li>
	    				<li>passionate about javascript, HTML5, CSS, Ruby on Rails </li> 
	    				<li>Graduated with Masters in Computer Science from <a href="http://www.cse.buffalo.edu">SUNY, Buffalo</a></li>
	    				<li>reach me <a href="https://twitter.com/intent/tweet?screen_name=knowmevish" class="twitter-mention-button" data-related="knowmevish"> @knowmevish</a> or send me an email:- vishwasr[at]buffalo[dot]edu</li>
	    			</div>
	    		</div>
	    		<div class="tdo">
	    			<div class="info">
	    				<li>Developed <a href="http://spacely.cloudfoundry.com">SPACE.LY</a> - Space to share your photos, Application on backbone.js, Rails </li>
	    				<li>Contributor to <a href="http://www.presvo.com">PRESVO</a>,Slide Authoring Tool </li>
	    				<li> Contributor to Cours.ly-Web application built using javascript,Rails</li>
	    				<li> To know more about my academic projects, Click <a href="http://www.linkedin.com/in/vishwasrikaanth">here</a></li>
	    			</div>
	    		</div>
	    	
	    	</div>
	    </div>
	  </div>
	</body>
</html>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>